In [1]:
import numpy as np
import pandas as pd

In [4]:
query = np.array([1,"sass",23,'asd',0])
print(query)

['1' 'sass' '23' 'asd' '0']

In [5]:
query = query.reshape(1,5)
print(query)

[['1' 'sass' '23' 'asd' '0']]

In [9]:
query = pd.DataFrame(data=query)
query

   0     1   2    3  4
0  1  sass  23  asd  0